@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rubik:wght@700&display=swap');
@import '~bootstrap/scss/bootstrap.scss';


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;
}

